



.team-content {
    padding: 0px 15px 15px 15px;
}
.border-team {
    border-bottom:1px solid #e2e2e2;
    margin-bottom:10px;
}
.team-img:hover {
    background:#f5f5f5;
    
}


/* Site Heading */
.site-heading h3{
    font-size : 40px;
    margin-bottom: 15px;
    font-weight: 600;
}
.border {
    background: #e1e1e1;
    height: 1px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}

   .image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../res/aboutusback.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }
 
  .image-aboutus-sm-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../res/aboutusback.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom:30px;
 }
.lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
    font: normal 700% 'century gothic', arial, sans-serif;
}
.image-aboutus-para {
    color:#fff;
}
/* font CSS */
body {
    padding-top: 19px;
    font-family: 'Roboto';
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-style: normal;
    color: #494949;
    font-size: 16px;
}

h1 {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000;
}
h2 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000;
}

h3 {
    line-height: 26px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    color: #000;
}
 h4 { font-size: 19px; 
     letter-spacing: 0px; 
     font-weight: 600;
     font-style: normal;
     color: #000;
}

p {
    font-weight: 400;
    font-style: normal;
    color: #494949;
}


.capital {
    text-transform:uppercase;
}


i {
    font-style: normal;
    font-size: 42px;
    text-align: center;
    line-height: 64px;
}

